*{
    margin: 0;
    box-sizing: border-box;
}

.pizaa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.type{
    width: 40%;
    border: solid #514d4d;
    height: 600px;
}
.type img{
    width: 100%;
    height: 80%;
}